# Secrets
.env

# Dépendances
vendor/
node_modules/

# Données Docker persistantes
docker/mariadb/data/
data/registry/

# IDE
.vscode/
.idea/

# Logs
*.log
backups/
.php-cs-fixer.cache
.php-cs-fixer.cache
